.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #b546bd, #9515c3); 
  padding: 1rem 2rem;
  color: #fff;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navLinks li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem; 
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #000000; 
}

.profileCircle {
  width: 42px;
  height: 42px;
  background-color: #fff;
  color: #9515c3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profileCircle:hover{
  background-color: #1c1c1c;
  color: #fff;
}
